html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

.full {
    width: 100%;
    height: 55%;
    background: url("content/Zyzz.jpg") no-repeat 0% 0%;
    background-size: cover;
    display: table;
    margin: 0;
    top: 0;
}

.fulla {
    width: 100%;
    height: 35%;
    background: url("content/Fondo\ Negro.png") no-repeat 0% 0%;
    background-size: cover;
    display: table;
    margin: 0;
    top: 0;
}

.full-inner {
    width: 100%;
    vertical-align: middle;
    display: table-cell;
}

.content {
    max-width: 1000px;
    margin: auto;
    color:aliceblue
}

.content h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 200%;
}

.content a {
    border-radius: 9px;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    padding: 7px 13px;
    font-weight: bold;
}

.biba {
    border-radius: 9px;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 3px solid;
    padding: 7px 13px;
    font-weight: bold;
}

.content a:hover {
    color:crimson;
}

.fully {
    width: 100%;
    height: 85%;
    background: url("content/Anonymous.png") no-repeat 0% 40%;
    background-size: cover;
    display: table;
    margin: 0;
    top: 0;
}

.fully-inner {
    width: 100%;
    vertical-align: middle;
    display: table-cell;
}

.contenty {
    max-width: 1000px;
    margin: auto;
    color:aliceblue
}

.contenty h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 200%;
}

.contenty a {
    border-radius: 9px;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 3px solid;
    padding: 7px 13px;
    font-weight: bold;
}

.contenty a:hover {
    color:crimson;
}

.fullo {
    width: 100%;
    height: 50%;
    background: url("content/Fondo\ Negro.png") no-repeat 0% 0%;
    background-size: cover;
    display: table;
    margin: 0;
    top: 0;
}

.fullo-inner {
    width: 100%;
    vertical-align: middle;
    display: table-cell;
}

.contento {
    max-width: 1000px;
    margin: auto;
    color:aliceblue
}

.contento h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 200%;
}

.contento a {
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 5px 11px;
    font-weight: bold;
}

.contento a:hover {
    color:crimson;
}

p {
    font-size: 100%;
    line-height: 180%;
    margin: 0%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.secciones {
    background-color: black;
    width: 100%;
    text-align: center;
}

.secciones li {
    display: inline-block;
    border: 2px solid #000000;
    border-color: white;
    padding: 8px;
    margin: 2px;
    text-align: center;
    color: #fff;
}

.secciones2 {
    background-color: rgb(76, 216, 21);
    width: 100%;
    text-align: center;
}

.secciones2 li {
    display: inline-block;
    border: 2px solid #000000;
    border-color: rgb(0, 0, 0);
    padding: 8px;
    margin: 2px;
    text-align: center;
    color: #fff;
}

.content2 {
    font-size: 160%;
    line-height: 200%;
    margin: 5%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.full2 {
    width: 100%;
    height: 55%;
    background: url("content/Fondo\ Negro.png") no-repeat 50% 50%;
    background-size: cover;
    display: table;
    margin: 0;
    top: 0;
}

.full-inner2 {
    width: 100%;
    vertical-align: middle;
    display: table-cell;
}

.content4 {
    text-align: center;
    max-width: 1200px;
    margin: auto;
    color:aliceblue;
}

.content4 h4 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 110%;
}

.content4 a {
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 5px 11px;
    font-weight: bold;
}

.content4 a:hover {
    color:crimson;
}

li {
    font-size: 120%;
    line-height: 70%;
    margin: 5%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.cabecera {
    text-align: center;
    background: url("content/Fondo\ Negro.png") no-repeat 30% 30%;
    background-size: cover;
    margin: auto;
    color:aliceblue
}

.cabecera h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 200%;
}

.cabecera a {
    border-radius: 9px;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 3px solid;
    padding: 7px 13px;
    font-weight: bold;
}

.cabecera a:hover {
    color:crimson;
}

.binomio {
    width: 100%;
    height: 15%;
    background: url("content/Fondo\ Rojo.jpg") no-repeat 25% 25%;
    background-size: cover;
    display: table;
    margin: 0;
    top: 0;
}

.binomia {
    width: 100%;
    height: 5%;
    background: url("content/Fondo\ Rojo.jpg") no-repeat 25% 25%;
    background-size: cover;
    display: table;
    margin: 0;
    top: 0;
}